<a href="https://colab.research.google.com/github/nikdata/wisc-ds-02-python/blob/main/demo_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# DEMO FILE

This is a demo file

In [6]:
# this is a comment

# import libraries

import pandas as pd

In [7]:
my_data = pd.read_csv('Stars.csv')

In [8]:
my_data.head()

   Temperature         L       R    A_M Color Spectral_Class  Type
0         3068  0.002400  0.1700  16.12   Red              M     0
1         3042  0.000500  0.1542  16.60   Red              M     0
2         2600  0.000300  0.1020  18.70   Red              M     0
3         2800  0.000200  0.1600  16.65   Red              M     0
4         1939  0.000138  0.1030  20.06   Red              M     0